<!DOCTYPE html>
<html>

<head>
    <title>API Documentation</title>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
    }

    header {
        padding-bottom: 15px;
    }

    body {
        padding: 15px;
        background: #efefef;
    }

    .api {
        width: 60%;
        height: calc(100vh - 104px);
        float: left;
        overflow-y: auto;
    }

    .json {
        float: left;
        width: calc(40% - 17px);
        height: calc(100vh - 117px);
        background: #fff;
        margin-top: 15px;
        margin-left: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        overflow: hidden;
    }

    .json h3 {
        padding: 15px;
        background: #333;
        color: #fff;
    }

    .json pre {
        padding: 15px;
        height: calc(100vh - 214px);
        overflow-y: auto;
        font-size: 18px;
    }

    .block {
        border-radius: 5px;
        overflow: hidden;
        margin: 15px 0;
        background: #fff;
    }

    .block .body {
        padding: 15px;
    }

    .block .header span.method {
        text-align: center;
        padding: 10px;
        width: 100px;
        height: 30px;
        display: inline-block;
        color: #fff;
        font-size: 22px;
        font-weight: bold;
    }

    .block .header span.url {
        font-size: 22px;
        padding: 10px;
    }

    .block .header {
        line-height: 30px;
    }

    .block .header:hover {
        cursor: pointer;
    }

    .get {
        border: 1px solid #3F51B5;
    }

    .get .header {
        background: #E8EAF6;
    }

    .get .header span.method {
        background: #3F51B5;
    }

    .get .header span.url {
        color: #3F51B5;
    }

    .post {
        border: 1px solid #4CAF50;
    }

    .post .header {
        background: #E8F5E9;
    }

    .post .header span.method {
        background: #4CAF50;
    }

    .post .header span.url {
        color: #4CAF50;
    }

    .put {
        border: 1px solid #FF9800;
    }

    .put .header {
        background: #FFF3E0;
    }

    .put .header span.method {
        background: #FF9800;
    }

    .put .header span.url {
        color: #FF9800;
    }

    .delete {
        border: 1px solid #F44336;
    }

    .delete .header {
        background: #FFEBEE;
    }

    .delete .header span.method {
        background: #F44336;
    }

    .delete .header span.url {
        color: #F44336;
    }

    table thead {
        text-align: left;
    }

    table {
        width: 90%;
    }

    table tr th,
    table tr td {
        width: 40%;
        padding: 10px;
        vertical-align: top;
    }

    table tr td pre {
        padding: 10px;
        background: #ccc;
        border-radius: 5px;
    }

    .info-text {
        font-weight: normal;
        font-size: 13px;
    }

    .info {
        color: #3F51B5;
    }

    .success {
        color: #4CAF50;
    }

    .warning {
        color: #FF9800;
    }

    .danger {
        color: #F44336;
    }

    .collapse {
        display: none;
    }
</style>

<body>
    <header>
        <h1>MAAU API</h1>
        <small>[ http://
            <%=host%>:
                <%=port%> ]</small>
    </header>
    <div class="api" onClick="toggle(event)">
        <% include user-count.html %>
        <% include user-get-all.html %>
        <% include user-get.html %>
        <% include validate.html %>
        <% include activate.html %>
        <% include user-post.html %>
        <% include login.html %>
        <% include register.html %>
        <% include forgot-password.html %>
        <% include user-put.html %>
        <% include user-delete.html %>
    </div>
    <div class="json">
        <h3>#DataModel</h3>
        <pre><%=JSON.stringify(schema,undefined,4).replace(/"/g,'')%></pre>
    </div>
    <script>
        function toggle(e) {
            if (e.target.nextElementSibling && e.target.nextElementSibling.classList.contains('body')) {
                if (e.target.nextElementSibling.classList.contains('collapse')) {
                    e.target.nextElementSibling.classList.remove('collapse')
                } else {
                    e.target.nextElementSibling.classList.add('collapse')
                }
            }
        }
    </script>
</body>

</html>